body{
    background-color: #00000021;
}
.main-section{
    display: flex;
}
.players-info{
    width: 70%;
    margin: 50px;
}
.players-info h1{
    color: skyblue;
    font-weight: bold;
}
.players-info h3{
    color: green;
}
.alhlet-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.cart-info{
    width: 30%;
    background-color: white;
    padding: 20px;
}

 @media screen and (max-width:1200px){
    .alhlet-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .single-athlet {
        height: 370px;
    }
}
@media screen and (max-width:800px){
    .single-athlet {
        height: 480px;
    }
    .alhlet-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .main-section{
        display: block;
    }
    .players-info{
        width: 100%;
        margin: 0;
    }
    body{
        padding: 20px;
    }
    .cart-info{
        width: 100%;
        padding: 0px;
    }
}
@media screen and (max-width: 500px) {
    .single-athlet {
        height: 470px;
    }
}