.main-section{
    display: flex;
}
.players-info{
    width: 70%;
    background-color: #00000021;
    padding: 50px;
}
.alhlet-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.cart-info{
    width: 30%;
    padding: 20px;
}

@media screen and (max-width:1200px){
    .alhlet-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .single-athlet {
        height: 550px;
    }
}
@media screen and (max-width: 992px) {
    .single-athlet {
        height: 620px;
    }
}
@media screen and (max-width:767px){
    .alhlet-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .main-section{
        display: block;
    }
    .players-info{
        width: 86%;
    }
    .cart-info{
        width: 90%;
        padding: 20px;
    }
}